.sidebar{
    position: sticky;
    position: -webkit-sticky;
    left:0;
    width: 17%;
    background-color:rgb(251, 251, 255);
    box-shadow:  4px 4px 9px 5px rgba(0, 0, 0, 0.025);
    z-index: 0;
    height: auto;
}
.sidebar__menu{
    margin-top: 6px;
}
.sidebar__tittle{
    color: rgb(187, 186, 186);
}
.sidebar__list{
    list-style-type: none;
    padding: 5px;   
}
.sidebar__wrapper{
    position: relative;
    padding-top: 20px;
    left: 20px;
}
.items__name{
    margin-top: 8px;
    margin-left: 7px;
    color: darkblue;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    padding: 4px;
}
.sidebar__items{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 10px;
    border-radius: 10px;
}
.sidebar__tittle{
    font-size: 15px !important; 
}
.sidebar__items :active,
.sidebar__items:hover
{
    background-color: rgb(228, 228, 250);
    width: 80%;
}
.items__icons{
    font-size: 12px;
    color: #0072ff;
    margin-top: 6px;
}
.items__icons1{
    font-size: 12px;
    color: #0072ff;
    margin-bottom : 1px;
}
.link{
    text-decoration: none;
    color: inherit;
    display: -webkit-box;
}