*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height: 100vh;
}
#components-layout-demo-top-side-2 .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .ant-row-rtl #components-layout-demo-top-side-2 .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  
  .site-layout-background {
    background: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .site-layout-content{
  }
  .footer__index{
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 84%;
    min-width: 100vh;
    right: 0;
  }
  .ant-layout-sider > .ant-layout-sider-dark >.site-layout-background{
    display:block;
  }
