.newUser {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        left: 29%;
  }
#demo-row-radio-buttons-group-label{
      margin-top: 20px;
}
.btn-create{
      margin-top: 50px;
}